body{background-color: #FAEBD7;
  text-align:center;
}

#Element{color: DarkBlue;}

h1  {
  font-family: Oswald;
}

.header{font-size: 20px;}

#Mark:hover{
  font-size: 50px;
}

#Joan-Miro:hover{
color: green;
}
